{{#if isFormDisplayed}}
  {{#md-modal close=toggleForm isFooterFixed=true}}
    <div class="modal-content">
      {{#x-droplet message=message
                   projectId=project.id
                   sending=sending
                   didSendForm=(action "didSendForm")}}
      {{/x-droplet}}

      {{md-input value=message label=(t 'project.newPost.message') class="col s12" validate=true}}
    </div>

    <div class="modal-footer">
      {{md-btn text=(t 'project.newPost.send')
               action='sendForm'
               class='new-post-send'
               icon='fa fa-cloud-upload'}}
      {{md-btn text=(t 'project.newPost.cancel')
               action=toggleForm
               class='new-post-cancel'}}
    </div>
  {{/md-modal}}
{{/if}}
