<div class="card">
  <div class="card-image">
    <img src="{{project.posts.firstObject.image}}">

    <span class="card-title">
      {{#link-to "project" project.id}}
        {{project.name}}
        {{fa-icon icon="angle-right"}}
      {{/link-to}}
    </span>
  </div>
</div>
