.application-container {
  @extend .container;

  min-height: calc(100vh - 70px - 20px - 56px);
}

.nav-wrapper {
  background-color: $color-1-0;
  a {
    color: $color-3-0;
  }

  .brand-logo {
    font-family: BTTF;
  }
}

footer.page-footer {
  background-color: $color-4-1;

  .copyright {
    background-color: $color-4-0;
    color: $color-3-1;
  }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: $color-4-0;

  &:hover {
    color: $color-4-3;
  }
}
