.application-container {
  // scss-lint:disable PlaceholderInExtend
  @extend .container;
  // scss-lint:enable PlaceholderInExtend

  min-height: calc(100vh - 70px - 20px - 56px);
}

.application-container,
.application-fullscreen {
  padding-top: 1em;
}

.nav-wrapper {
  background-color: $color-1-0;

  a {
    color: $color-3-0;
  }

  .brand-logo {
    font-family: BTTF;
  }
}

// scss-lint:disable QualifyingElement
footer.page-footer {
// scss-lint:enable QualifyingElement
  background-color: $color-4-1;

  .copyright {
    background-color: $color-4-0;
    color: $color-3-1;
  }

  .footer-twitter,
  .footer-github {
    // scss-lint:disable PlaceholderInExtend
    @extend .right;
    // scss-lint:enable PlaceholderInExtend

    color: $color-3-1;
    padding-left: 1em;
  }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: $color-4-0;

  &:hover {
    color: $color-4-3;
  }
}
