$color-1-0: #C63E0F;	// Main Hlavní barva */
$color-1-1: #FA855D;
$color-1-2: #E85F30;
$color-1-3: #A22A00;
$color-1-4: #791F00;

$color-2-0: #B50E38;	// Main Hlavní barva */
$color-2-1: #E45478;
$color-2-2: #D42B56;
$color-2-3: #940025;
$color-2-4: #6F001C;

$color-3-0: #FDF3E7;	// Main Hlavní barva */
$color-3-1: #FFFFFF;
$color-3-2: #FFFCF8;
$color-3-3: #D9C8B3;
$color-3-4: #B8A082;

$color-4-0: #7E8F7C;	// Main Hlavní barva */
$color-4-1: #CED5CD;
$color-4-2: #A2AFA1;
$color-4-3: #5E725C;
$color-4-4: #3D503B;
