.x-post {
  @extend .card;
  cursor: pointer;

  .card-image {
    overflow-y: hidden;

    .card-title {
      font-size: 1em;
      padding: 5px;
      text-shadow: 2px 2px 8px $color-2-4;
    }

    .thumb {
      height: 100%;
      object-fit: cover;
      object-position: 100% 50%;
    }

    @media #{$small-and-down} {
      // styles for small screens and down
    }

    @media #{$medium-and-up} {
      height: 10em;
    }

    @media #{$medium-and-down} {
      height: 10em;
    }

    @media #{$large-and-up} {
      height: 8em;
    }
  }

  &-date {
    @extend .card-title;
  }
}
